<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Interval" value="5" />
		<add key="Pages" value="http://www.nowinstock.net/computers/videocards/amd/rx480/" />
		<add key="CssSelectors" value="#data" />
		<add key="Notifiers" value="FlashConsoleWindow, ConsoleDiff, GmailSelf, Beep" />
	</appSettings>
</configuration>